

body {
	font-family: 'Open Sans', sans-serif;
	/*background: #d3d3d3;*/
	font-size: 2em;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

header {
	height: 450px;
	background-image: url("../images/skyscraper.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
}

.header-text-title {
	margin-top: 2em;
	text-align: center;
	color: #fff;
	font-size: 1em;
	height: 50px;
}
.lt-red {
	color: rgb(244, 89, 79);
}
.menu {
	display: block;
	position: absolute;
	height: 1.8em;
	width: 100%;
	background-color: rgba(245, 245, 245, .5);
	padding: .1em;
	top: 400px;
}
@media (max-width: 700px) {
	nav a {
		display: inline-block;
		padding: 5px;
		color: red;
	}
}
.menu-nav-links {
	text-decoration: none;
	font-size: .6em;
}


nav a {
	text-decoration: none;
	margin: .3em .5em .4em .3em;
	color: #000;
}

.menu-nav-links a:hover {
	border-bottom: 3px solid #f4594f;
}
nav img {
	height: .8em;
	width: .8em;
}

.main-container {
	display: block;
	position: relative;
	width: 100%;
	padding: 5px;
	background-color: #333;
	margin: 0 auto;
}
.container-box {
	display: inline-block;
	width: 300px;
    height: 350px;
    position: relative;
    background-color: #fff;
    overflow: hidden;

}
.container-box-box {
	opacity: .5;
	overflow: hidden;
}

.container-box-box:hover {
	opacity: 1;
}



.sect-1 .sect-2 .sect-3 {
	padding: 4em 1em;
}
.sect-1 {
	background-color: #fff;
}
.sect-2 {
	background-color: #333;
	color: #fff;
}
.sect-3 {
	background-color: #fff;
}
@media only screen and (min-width: 900px)
.section-wrapper {
	margin: 0 auto;
	max-width: 1300px;
}

/*.blinkred {
color: #f4594f;
animation: blink 1s steps(2, start) infinite;
}*/

h3 {
	display: block;
	padding: 5em 0;
	font-size: 1em;
	text-align: center;
/*	visibility: hidden;*/
}

.not-alone {
	padding-top: 1em;
	color: #fff;
}


.boxes {
	padding: 4em;
	width: 1200px;
	margin: 0 auto;
}

.box {
	display: inline-block;
	width: 100%;
    height: 100%;
    background: #000;
    margin: 1em;
    position: absolute;
}

.box-image {
	width: 100%;
	height: auto;
	overflow: hidden;
}


.bio img {
	display: inline-block;
    position: relative;
    overflow: hidden;
}

.bio .glo-img {
    height: 120px;
    padding: none;
}
.bio .regina-img {
    height: 90px;
    margin-top: 20px;
}

.bio {
	font-size: .6em;
	position: relative;
	display: inline-block;
	width: 50%;
	padding-left: 5px;
}
.bio-container {
	width: 60%;
	margin: 0 auto;
}

#about {
	height: 200px;
}


footer {
	display: block;
	height: 2em;
	width: 100%;
	background-color: #F5F5F5;
	font-size: .5em;
	clear: both;
}
.footer-logo {
	font-size: 1em;
	padding: .7em;
}
.copyright {
	padding: .7em;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}